.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.containerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.header {
    color: var(--textColorHeader);
}

.body {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility .5s, opacity .3s;
}

.bodyVisibly {
    position: absolute;
    top: 80%;
    display: flex;
    flex-direction: column;
    visibility: visible;
    opacity: 1;
    transition: visibility .5s, opacity .3s;
    background: var(--textColorHeader);
    border: 1px solid var(--darkBlueviolet);
    border-radius: 4px;
}

.item {
    background: none;
    border: none;
    font-size: 16px;
    color: var(--blueviolet);
    padding: 8px;
}

.icon {
    rotate: 0deg;
    transition: .5s ease-in-out;
    color: var(--textColorHeader);
}

.iconSelected {
    rotate: 180deg;
    transition: .5s ease-in-out
}

@media (pointer: fine) {
    .container,
    .item {
        cursor: pointer;
    }
}

@media screen and (max-width: 1024px) {
    .header {
        font-size: 14px;
    }

    .item {
        font-size: 14px;
    }
}