.container {
    position: fixed;
    background: var(--darkBlueviolet);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    backdrop-filter: blur(50px);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.6s, opacity .4s;
    z-index: 10;
}

.openModal {
    opacity: 0.5;
    visibility: visible;
    transition: visibility 0.6s, opacity .4s;
}

.children {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    background: var(--textColorHeader);
    border: 2px solid var(--blueviolet);
    border-radius: 25px;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.4s, opacity .3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 60px;
}

.openChildren {
    opacity: 1;
    visibility: visible;
    transition: visibility 0.4s, opacity .3s;
}

.closeIcon {
    position: absolute;
    right: 3%;
    top: 4%;
    color: var(--blueviolet);
    width: 26px;
    height: 26px;
}

@media (pointer: fine) {
    .closeIcon {
        cursor: pointer;
    }
}


@media screen and (max-width: 1440px) {
    .closeIcon {
        width: 24px;
        height: 24px;
    }

}

@media screen and (max-width: 1024px) {
    .children {
        padding: 20px 30px;
    }

    .closeIcon {
        width: 24px;
        height: 24px;
    }

}

@media screen and (max-width: 768px) {
    .children {
        padding: 20px 28px;
    }

    .closeIcon {
        width: 20px;
        height: 20px;
    }

}

@media screen and (max-width: 390px) {
    .children {
        padding: 20px 20px;
    }

}